<footer class="footer-style main">
  <div style="background: var(--shade10);">
    <div class="footer-container base-footer">
      <div class="footer__content">
        <div class="footer__columns">
          <div class="footer__column footer__column_big">
            <img src="<%- domain %>/images/navbar-minilogo.png" alt="FindBots" style="position: absolute;margin-top: 69px;">
            <div class="clearfix"></div>
            <div class="footer__buttons-container">
              <div class="footer__button-wrapper">Explore millions of Discord Bots & Servers</div>
            </div>
          </div>
          <div class="footer__column footer__column_small footer__web"><span class="type-overline text-overline text-base base-text fb-wp">Support</span>
            <ul class="footer__column-content-list">
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Submit Ticket</a></li>
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Feedback</a></li>
            </ul>
          </div>
          <div class="footer__column footer__column_small footer__web"><span class="type-overline text-overline xdsq base-text second-column">Social Media</span>
            <ul class="footer__column-content-list">
              <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">Discord</a></li>
              <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">Twitter</a></li>
              <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">Instagram</a></li>
              <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">YouTube</a></li>
            </ul>
          </div>
          <div class="footer__column footer__column_small footer__web"><span class="type-overline text-overline form-footer base-text third-column">Links</span>
            <ul class="footer__column-content-list">
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Terms</a></li>
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Developers</a></li>
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Careers</a></li>
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Request Data</a></li>
            </ul>
          </div>
          <div class="footer__column footer__column_small footer__web"><span class="type-overline text-overline form-footer base-text third-column">Partners</span>
            <ul class="footer__column-content-list">
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Medal</a></li>
              <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Megacool</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Footer__AccordionContainer accordion-base">
    <div height="0" class="Accordion__Wrap wrap-base">
      <h4>Support</h4>
      <div class="toggle-content">
        <div class="footer__column footer__column_small">
          <ul class="footer__column-content-list">
            <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Submit Ticket</a></li>
            <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Feedback</a></li>
          </ul>
        </div>
      </div><button class="toggle-button"><svg viewBox="0 0 16 9" fill="none" class="svg-footer base-svg">
          <title>arrow-down-empty</title>
          <path d="M1 8L8 1L15 8" stroke="#B8924E"></path>
        </svg></button>
    </div>
    <div height="0" class="Accordion__Wrap wrap-base">
      <h4>Socials</h4>
      <div class="toggle-content">
        <div class="footer__column footer__column_small">
          <ul class="footer__column-content-list">
            <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Discord</a></li>
            <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">Twitter</a></li>
            <li class="footer__column-content-item"><a class="text-style-footer page-title-footer footer__link" href="#">YouTube</a></li>
          </ul>
        </div>
      </div><button class="toggle-button"><svg viewBox="0 0 16 9" fill="none" class="svg-footer base-svg">
          <title>arrow-down-empty</title>
          <path d="M1 8L8 1L15 8" stroke="#B8924E"></path>
        </svg></button>
    </div>
    <div height="0" class="Accordion__Wrap wrap-base">
      <h4>Links</h4>
      <div class="toggle-content">
        <div class="footer__column footer__column_small">
          <ul class="footer__column-content-list">
            <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">Terms</a></li>
            <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">Developers</a></li>
            <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">Careers</a></li>
            <li class="footer__column-content-item"><a href="#" target="_blank" rel="noopener noreferrer" class="font-media base-media footer__link">Request Data</a></li>
          </ul>
        </div>
      </div><button class="toggle-button"><svg viewBox="0 0 16 9" fill="none" class="svg-footer base-svg">
          <title>arrow-down-empty</title>
          <path d="M1 8L8 1L15 8" stroke="#B8924E"></path>
        </svg></button>
    </div>
  </div>
  <div style="background: var(--shade9);">
    <div class="footer-container base-footer footer__content--wrapper">
      <div class="footer__content legal-privacy">
        <div class="footer__columns">
          <div class="footer__column footer__column_small footer__column_small_mobile">
            <ul>
              <li class="footer__column-content-item">
                <div class="styled__LanguageSelectorButton button-lang-footer">
                  <p class="type-caption typography__Caption footer-caption caption-base fpc"><span class="footer__flag undefined"><img alt="🇺🇸" src="https://twemoji.maxcdn.com/2/svg/1f1fa-1f1f8.svg" style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;"></span>English</p>
                </div>
              </li>
              <li class="footer__column-content-item">
                  <p class="type-caption typography__Caption cr-footer caption-base gup">Copyright © <%= new Date().getFullYear() %> DawnForge. All rights reserved.</p>
                </li>
            </ul>
          </div>
        </div>
        <div class="footer__legal-wrapper">
          <div class="footer__column footer__column_big">
            <p class="type-caption typography__Caption cap-made caption-base by-made">Made with ❤️ by DawnForge.</p>
          </div>
          <div class="footer__column footer__column_small footer__column_small_legal">
            <div class="styled__LanguageSelectorButton button-lang-footer">
              <p class="type-caption typography__Caption sc-fEcgnn caption-base fNMGTf"><span class="footer__flag undefined"><img alt="🇺🇸" src="https://twemoji.maxcdn.com/2/svg/1f1fa-1f1f8.svg" style="width: 1em; height: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;"></span>English</p>
            </div>
          </div>
          <div class="footer__column footer__column_small footer__column_small_legal">
            <p class="type-caption typography__Caption sc-kBizdN caption-base gGaVww">Copyright © <%= new Date().getFullYear() %> FindBots. All rights reserved.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>